################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs/UI/FileContentIndex
/.vs/UI/v17
/.vs/UI/CopilotIndices/17.12.38.29086
/.vs/UI/copilot-chat/732fe5e6/sessions
